header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: white;
  background-color: black;
}
.lefthead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.righthead {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px;
}
main{
  background-color: floralwhite;
}

footer {
  background-color: black;
}

.I {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 10px;
  background-color: #f7f7f7;
}

footer {
  display: flex;
  color: white;
  flex-direction: column;
}

.alltAnnat {
  justify-content: space-evenly;
  display: flex;
}
footer h1 {
  display: flex;
  justify-content: center;
}

.hejKnapp {
  display: flex;
  flex-direction: column;

}


.container{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 10px;
}

.treMobiler{
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  
  padding: 10px;
  margin: 10px;
}

